@font-face {
	font-family: Oswald-Bold;
	src: url('../fonts/Oswald-Bold.otf');
}

@font-face {
	font-family: Oswald-Light;
	src: url('../fonts/Oswald-Light.otf');
}

@font-face {
	font-family: Oswald-Regular;
	src: url('../fonts/Oswald-Regular.otf');
}

body {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	font-family: Oswald-Regular;
	font-size: 12pt;
}

a {
	color: inherit;
	text-decoration: none;
}

.header {
	width: 900px;
	height: 150px;
	margin: 15px auto 10px auto;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 15px #404040;
}

.main {
	width: 900px;
	min-height: 600px;
	margin: 0 auto;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 15px #404040;
	padding-top: 10px;
}

.content {
	margin: 0px 10px;
}

.content > form {
	text-align: center;
}

.content > form > input {
	margin-left: 5px;
}

.header_logo {
	float: left;
	margin: 0 0 0 20px;
}

.header_logo > span {
	float: left;
	font-family: Oswald-Regular;
	font-size: 18pt;
	margin: 58px 0 0 25px;
	/* text-align: center; */
}

.header_logo > img {
	float: left;
	width: 122px;
	height: 122px;
	margin: 15px 0 0 0;
}

.header_button {
	font-family: Oswald-Regular;
	font-size: 15pt;
	float: left;
	width: 100px;
	height: 40px;
	margin: 62px 0 0 30px;
	text-align: center;
}

.header_button > a:hover {
	color: #C7380E;
	text-shadow: 0px 0px 15px #C7380E;
}

.carousel {
	width: 900px;
	height: 300px;
}

.image-left {
	float: left;
	margin-right: 5px;
}